@{
    ViewBag.Title = "Home Page";
}
@model EducationPathways.Web.Models.AnswerViewModel

@section featured
{}

<div id="VectorQuestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Vector question</h3>
    </div>
    @using (Ajax.BeginForm("Vectors", "Questions", new AjaxOptions { HttpMethod = "POST" }))
    {
    <div class="modal-body">
        <p>What is 12 * 12?</p>
        @Html.TextBoxFor(model => model.Answer)
        @Html.HiddenFor(model => model.StartDate)
    </div>
    <div class="modal-footer">
        <input class="btn" type="submit" value="Submit" />
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
    }
</div>

<div id="MatricesQuestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Matrices question</h3>
    </div>
    @using (Ajax.BeginForm("Matrices", "Questions", new AjaxOptions { HttpMethod = "POST" }))
    {
    <div class="modal-body">
        <p>What is 1 + 1?</p>
        @Html.TextBoxFor(model => model.Answer)
        @Html.HiddenFor(model => model.StartDate)
    </div>
    <div class="modal-footer">
        <input class="btn" type="submit" value="Submit" />
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
    }
</div>

<div id="CoordinatesQuestion" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Coordinates question</h3>
    </div>
    @using (Ajax.BeginForm("CoOrdinates", "Questions", new AjaxOptions { HttpMethod = "POST" }))
    {
    <div class="modal-body">
        <p>What is the square root of 9?</p>
        @Html.TextBoxFor(model => model.Answer)
        @Html.HiddenFor(model => model.StartDate)
    </div>
    <div class="modal-footer">
        <input class="btn" type="submit" value="Submit" />
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
    }
</div>

<canvas id="springydemo" width="1800" height="900" />

@section scripts
{
    <!-- JIT Library File -->
    <!--[if IE]><script language="javascript" type="text/javascript" src="~/Scripts/excanvas.js"></script><![endif]-->
    <script src="~/Scripts/springy.js"></script>
    <script src="~/Scripts/springyui.js"></script>
    <script type="text/javascript">
        var graph = new Graph();
        @Html.Raw((string)ViewBag.Data.ToString())
        
        window.onload = function () {
            jQuery(function () {
                var springy = jQuery('#springydemo').springy({
                    graph: graph,
                    nodeSelected: function (node) {
                        if (node.data.label == 'Vectors and spaces') {
                            $('#VectorQuestion').modal('show');
                        }
                        
                        if (node.data.label == 'Alternate coordinate system (bases)') {
                            $('#CoordinatesQuestion').modal('show');
                        }
                        
                        if (node.data.label == 'Matrix transformations') {
                            $('#MatricesQuestion').modal('show');
                        }
                    }
                });
            });
        };
        
        $(document).on("submit", "form", function (event) {
            $.ajax({
                url: this.action, // Not available to 'form' variable
                type: this.method,  // Not available to 'form' variable
                data: $(this).serialize(),
                success: function (html) {
                    // Do something with the returned html.
                }
            });

            event.preventDefault();
        });
    </script>
}